<div>
  <%= flash[:notice] %>
</div>
<main>
  <div>
    <div>
      <div>
        <h1>
          "welcome to "
          <strong>Bookers</strong>
          " !!"
        </h1>
        <p>
          "in "
          <strong>Bookers</strong>
          "、 "
        </p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <P>about various books!</P>
        <div>
          <div>
            login
          </div>
          <div>
            signup
          </div>
        </div>
      </div>
    </div>
  </div>
</main>